body{
    background-color: chocolate;

}
h1 {
    padding: 2px 20px;
    text-align: center;
    font-size: 50px;

}    
.description{
    padding: 2% 3%;
    margin: 2% 25%;
    font-size: large;
}
.center{
    text-align: center;
    font-size: 30px;
}

ul li{
    list-style: none;
}
p{
    text-align: center;
}
.flex{
    display: flex;
    margin: 2% 30%;
    padding: 0%;
    font-size: larger;
}
.males, .females{
    margin: 2% 5%;
}
form{
    padding: 2%;
    margin: 2% 35%;
    font-size: x-large;
}
label{
    font-size: larger;
}
select,input{
    font-size: larger;
}